/* ESTILOS DE LAS GALERIAS*/
.destacados {
  font-weight: bold;
  text-align: left;
  padding: 10px 10px;
  text-transform: uppercase;
}

article .container {
  padding: 10px;
}

.figure {
  min-width: 90%;
  max-width: 90%;
  min-height: 200px;
  height: 270px;
  text-align: center;
  border: solid 1px grey;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px auto;
  cursor: pointer;
}

.figure img {
  width: 50px;
  height: 114px;
}

.figure .figcaption {
  font-size: 0.9rem;
  padding: 10px;
}

.bolita {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.precio {
  color: red;
  font-weight: bold;
  padding-top: 10px;
}

.movil-title {
  font-weight: bold;
}

.descuento {
  color: grey;
  text-decoration: line-through;
  display: inline-block;
  padding: 0 10px;
}

.descuento + span {
  color: red;
  text-decoration: none;
}

/* ESTILOS DE LOS FILTROS */
.filtros {
  height: 100%;
  text-align: left;
  margin: 5px;
}

.filtros li {
  list-style: none;
  padding: 10px;
  text-transform: uppercase;
  border-bottom: solid 1px grey;
}

.enlace-mas {
  border-bottom: solid 2px var(--menuColor);
  text-align: center;
  margin-bottom: 35px;
  width: 100%;
}

.enlace-mas .espacio {
  position: relative;
  top: 17px;
  display: inline-block;
  padding: 0 10px;
  background-color: #d8cdcd;
}

.espacio a {
  padding: 8px;
  text-decoration: none;
}

/* ESTILO DE LA VENTANA EMERGENTE */
.details {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}

.details-container {
  position: relative;
  margin: 20px auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
}

.card {
  padding: 10px;
  background-color: #fff;
}

.card-head {
  width: 100%;
  height: 50px;
  align-items: center;
  padding: 5px;
}

.card-head h2 {
  flex: 10;
}

.card-head span {
  text-align: center;
  font-size: 1.5rem;
  border-radius: 50%;
  border: solid 1px grey;
}

.card-img {
  min-width: 100px;
  max-width: 200px;
}

.card-description {
  padding: 5px;
}

.list-item {
  padding: 5px 10px;
  border: solid 1px grey;
  list-style: none;
}

.list-item:nth-of-type(odd) {
  background-color: var(--fondo);
}

.video-container {
  min-width: 90%;
  max-width: 90%;
  margin: 0 auto;
}
