#login {
  text-align: center;
  padding: 10px;
  border-top: solid 1px grey;
}

#login input {
  width: 35%;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#login > button {
  background-color: var(--mainColor);
  color: black;
  padding: 0.3rem 0.55rem;
}
