/*
Estilos generales de la web
autor: @Luichidev
revision: 27/04/2021
*/
html {
  --mainColor: #fbb906;
  --secondColor: #8fc542;
  --menuColor: #4365c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #6e6e6e;
  background-color: rgba(0, 0, 0, 0.11);
}

header {
  width: 100%;
  background-color: var(--menuColor);
  position: fixed;
}

img {
  width: 100%;
}

main {
  text-align: center;
}

footer {
  background-color: var(--menuColor);
  text-align: center;
  font-size: 0.8rem;
}

/* CLASES GENERALES DE LOS ELEMENTOS */
.container {
  width: 100%;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}

.main-title {
  color: var(--mainColor);
  text-shadow: 2px 2px 5px black;
  padding: 5px;
}

.sub-title {
  color: var(--mainColor);
  text-shadow: 2px 2px 2px black;
  padding: 5px;
}

.migas {
  padding: 100px 0 10px;
  text-align: left;
}

.migas a {
  color: blue;
  text-decoration: none;
}

/* ESTILOS DEL MENU DE NAVEGACION */

.burger {
  max-width: 40px;
  min-width: 40px;
  text-align: center;
  cursor: pointer;
}

.burger div {
  background-color: var(--secondColor);
  width: 2rem;
  height: 0.25rem;
  margin: 8px 0;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.equisTop {
  transform: rotate(50deg);
}

.equisMiddle {
  transform: translateX(100%);
  opacity: 0;
}

.equisBottom {
  transform: rotate(-50deg);
}

.equisReset {
  transform: rotate(0);
}

.equisResetMiddle {
  transform: translateX(0);
  opacity: 1;
}

.main-nav {
  width: 100%;
  position: relative;
  padding: 10px;
}

.menu {
  background-color: #fff;
  position: absolute;
  top: 80px;
  right: 0;
  width: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  transition: width 0.5s linear;
}

.menu > li > a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: inherit;
  background-color: #fff;
}

.active,
.menu li:hover {
  border-bottom: solid 5px var(--mainColor);
  color: var(--mainColor) !important;
}

.logo {
  width: 40px;
}

.logo-container {
  display: table;
  padding: 3px;
}

.logo-container h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.6rem;
}

.show {
  width: 100vw;
}

/* ESTILOS DE LA GALERIA DE LA PORTADA */
.destacados {
  font-weight: bold;
  text-align: left;
  padding: 10px 10px;
  text-transform: uppercase;
}

article .container {
  padding: 10px;
}

.container > figure {
  min-width: 90%;
  max-width: 90%;
  min-height: 200px;
  text-align: center;
  border: solid 1px grey;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px auto;
}

.container > figure img {
  width: 50px;
  height: 114px;
}

.container > figure > figcaption {
  font-size: 0.9rem;
  padding: 10px;
}

.bolita {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.precio {
  color: red;
  font-weight: bold;
  padding-top: 10px;
}

.movil-title {
  font-weight: bold;
}

.descuento {
  color: grey;
  text-decoration: line-through;
  display: inline-block;
  padding: 0 10px;
}

.descuento + span {
  color: red;
  text-decoration: none;
}

/* CLASES Y ESTILOS DEL FOOTER */
.footer-container {
  text-align: left;
}

.footer-container div {
  min-width: 300px;
  color: #fff;
  padding-top: 10px;
}

.footer-container div > p {
  padding: 5px 10px;
}

.footer-container div > h2 {
  padding: 10px;
}

.social a {
  display: inline-block;
  max-width: 50px;
  min-width: 40px;
  padding: 5px;
  text-decoration: none;
  color: inherit;
}

.copyright {
  color: #fff;
  background-color: #000;
  padding: 10px;
  margin: 0;
}

.copyright a {
  text-decoration: none;
  color: inherit;
}

/* ESTILOS DE LAS MEDIA QUERYS */
/* FORMATO MOVIL */

@media screen and (min-width: 414px) {
  .container > figure {
    min-width: 190px;
    max-width: 190px;
  }
}

/* FORMATO TABLET */

@media screen and (min-width: 768px) {
  header {
    height: 90px;
  }

  .logo {
    width: 60px;
  }

  .logo-container h1 {
    font-size: 2rem;
  }

  .menu {
    top: 90px;
  }

  .container > figure {
    min-width: 240px;
    max-width: 240px;
  }

  .footer-container div {
    min-width: 200px;
  }

  .footer-container div > p {
    padding: 5px 0;
  }
}

/* FORMATO ORDENADOR */
@media screen and (min-width: 1024px) {
  .banner {
    max-width: 800px;
    margin: auto;
  }

  .burger {
    display: none;
  }

  .container {
    width: 1000px;
  }

  .main-nav {
    padding: 0;
  }

  .menu {
    position: static;
    display: flex;
    height: auto;
    width: auto;
    background-color: var(--menuColor);
  }

  .menu > li {
    padding: 20px;
    color: #fff;
  }

  .menu > li > a {
    background-color: var(--menuColor);
    font-weight: bold;
  }

  .container > figure {
    min-width: 190px;
    max-width: 190px;
    margin: 5px 0;
  }

  footer {
    font-size: 1rem;
  }
}

/* FORMATO TV */
@media screen and (min-width: 1600px) {
  .container {
    width: 1400px;
  }
}
